[user]
	email = olliknights@gmail.com
	name = Oliver Knights
[core]
	excludesfile = ~/.global_ignore
	editor = nvim
	pager = delta
[delta]
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = GitHub
  line-numbers = true

[color]
	ui = always
[push]
	default = current
[interactive]
  singleKey = true # e.g. y/n
  diffFilter = delta --color-only
  syntax-theme = Monokai Extended

# use vimdiff as difftool
[diff]
	tool = vimdiff3
[merge]
	tool = vimdiff3
[mergetool "vimdiff"]
	path = nvim
[difftool "vimdiff3"]
	path = nvim
[mergetool "vimdiff3"]
	path = nvim
