[submodule "nvim/.config/nvim/pack/plugins/start/vim-rsi"]
	path = nvim/.config/nvim/pack/plugins/start/vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule "nvim/.config/nvim/pack/plugins/start/vim-endwise"]
	path = nvim/.config/nvim/pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "nvim/.config/nvim/pack/plugins/start/vim-speeddating"]
	path = nvim/.config/nvim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "nvim/.config/nvim/pack/plugins/start/vim-unimpaired"]
	path = nvim/.config/nvim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/.config/nvim/pack/plugins/start/vim-commentary"]
	path = nvim/.config/nvim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "nvim/.config/nvim/pack/plugins/start/vim-repeat"]
	path = nvim/.config/nvim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "nvim/.config/nvim/pack/plugins/start/vim-surround"]
	path = nvim/.config/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/.config/nvim/pack/plugins/start/nvim-colorizer.lua"]
	path = nvim/.config/nvim/pack/plugins/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "nvim/.config/nvim/pack/plugins/start/vim-lsc"]
	path = nvim/.config/nvim/pack/plugins/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc
[submodule "nvim/.config/nvim/pack/plugins/start/vim-dirvish"]
	path = nvim/.config/nvim/pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "nvim/.config/nvim/pack/plugins/start/vim-fugitive"]
	path = nvim/.config/nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/.config/nvim/pack/plugins/start/fzf.vim"]
	path = nvim/.config/nvim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/.config/nvim/pack/plugins/start/wiki.vim"]
	path = nvim/.config/nvim/pack/plugins/start/wiki.vim
	url = https://github.com/lervag/wiki.vim
[submodule "tools/fasd"]
	path = tools/fasd
	url = git@github.com:clvv/fasd.git
[submodule "nvim/.config/nvim/pack/plugins/start/vim-goimports"]
	path = nvim/.config/nvim/pack/plugins/start/vim-goimports
	url = git@github.com:mattn/vim-goimports.git
